body{
  margin: 0px auto;
  font-family: Poppins;
  color: white;
  background-color: #272727;
  line-height: 100%;
  letter-spacing: 0;
 
  /* z-index: -100; */
  
.body__container{
  max-width: 1170px;
  padding: 0 5px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 108px;
}
.main{
 background: url('../img/TravelTime.png') center / cover no-repeat;
 min-height: 100vh;
}
}
header{
  margin-top: 72px;
  width: 100%;
}
.nav{
  /* width: 1170px; */
  width: 100%;
}
.nav__list{
  display: flex;
  justify-content: space-between;
  gap: 120px;
}
.list__item{
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  cursor: pointer;
  transition: all 0.5s;
  /* position: absolute; */
}
.list__item:hover{
  transform: translate(0px, -5px);

}

.travel__container{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 369px;
  max-width: 749px;
  /* margin-bottom: 133px; */
  padding-bottom: 133px;;
}
.travel__title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.travel__title h1{
  font-size: 97px;
  font-weight: 700;
  line-height: 100%;
}
.travel__title p{
  font-size: 24px;
  font-weight: 276;
  line-height: 100%;
  text-align: center;
}
.travel__button{
  background: #00B43D;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
  line-height: 28px;
  width: 191px;
  padding: 16px 71px;
  border: 2px solid #00B43D;
  border-radius: 8px;
  transition: all 0.7s;
}
.travel__button:hover{
  background-color: #009331;
  color:#FEE4E2;
  border: 2px solid #FEE4E2;

}
.where{
background: url('../img/Travel.png') center / cover no-repeat;
min-height: 100vh;
display: flex;
  align-items: center;
justify-content: space-between;
flex-direction: column;
 
}
.where__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 54px;
  padding: 126px 44px;
  /* max-width: 1170px; */
}
.where__title h3{
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
}
.where__cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.thecard{
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* align-items: center; */
  max-width: 320px;
  background-color: rgb(88, 88, 88, 0.5);
  padding: 24px;
  /* opacity:50%; */
}
.thecard__pic{
  max-width: 272px;
  max-height: 252px;
  overflow: hidden;
  /* margin: 24px; */
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  

  /* opacity: 100%; */

}
.thecard__pic img{
  width: auto;
  height: auto;
  opacity: 80%;

  /* opacity: 100%; */

}
.thecard__name {
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
  align-self: start;
}
.thecard__text{
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  align-self: start;
  width: 80%;

}
.thecard__button{
  align-self: self-end;

}
.thecard__button button{
  background-color: rgba(78, 78, 78, 0.45);
  font-family: Inter;
  font-weight: 500;
  border: 1px solid rgba(78, 78, 78, 0.45);
  border-radius: 8px;
  color: white;
  font-size: 12px;
  line-height: 28px;
  padding: 6px 17px;
  transition: all 0.7s;
}
.thecard__button button:hover{
  background-color: rgb(37, 37, 37);
}





@media (max-width:1450px ) {
  .thecard{
  flex: 0 1 23%;
}
  .thecard__pic{
  max-width: 212px;
  max-height: 192px;
  align-self: center;
  }
    .thecard__pic img{
      margin-top: -10px;
  }

}
/* @media (max-width:1450px ) {
  .thecard{
  gap: 10px;
  padding: 20px;
}
  .thecard__pic{
  max-width: 222px;
  max-height: 202px;
  align-self: center;
  }
    .thecard__pic img{
      margin-top: -10px;
  }

} */


@media (max-width:1200px ) {
  .nav__list{
  display: flex;
  justify-content: space-around;
  gap: 1px;
  padding: 0px 15px;
}

  .list__item{
  font-size: 20px;
  font-weight: 500;
}
.travel__container{
  gap: 259px;
  margin-bottom: 100px;
}
.travel__title{
  gap: 15px;
}
.travel__title h1{
  font-size: 85px;
  font-weight: 700;
  line-height: 100%;
  padding: 0px 15px;
  text-align: center;
}
.travel__title p{
  font-size: 18px;
  font-weight: 276;
  line-height: 100%;
  text-align: center;
  padding: 0px 10px;
}
.where__container{
  gap: 40px;
}
.where__title h3{
  font-size:30px;
}
  .thecard{
  gap: 15px;
  padding: 25px;
}
.thecard__name h5{
  font-size: 22px;
  font-weight: 500;
}
.thecard__text{
  font-size: 13px;
}
.thecard__button button{
  padding: 4px 15px;
}

}
@media (max-width:1128px) {
  .where__container{
    gap: 60px;
  }
  .where__title{
  font-size:10px;
}
  .where__cards{
    justify-content: center;
    gap: 30px;
    row-gap: 50px;
  }
  .thecard{
    flex: 0 1 60%;
  }

}

@media (max-width:759px){
  .where__container{
    gap: 90px;
  }
  .where__cards{
    /* width: 80%; */
  }
  .thecard{
    width: 100%;
    flex: 0 1 100%;
    padding: 30px;
  }
  .thecard__pic{
    width: 272px;
    width: 230px;
  }
  .thecard__name{
    /* font-size: 18px; */
  }

}

@media (max-width:576px) {
  header{
  margin-top: 42px;
  font-size: 20px;
}
  .nav__list{
  /* display: flex; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px 10px;
}
  .list__item{
  flex: 0 1 30%;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.travel__container{
  gap: 209px;
  margin-bottom: 50px;
}
.travel__title{
  gap: 15px;
}
.travel__title h1{
  font-size: 75px;
  font-weight: 700;
  line-height: 100%;
  padding: 0px 15px;
  text-align: center;
}
.travel__title p{
  font-size: 15px;
  font-weight: 276;
  line-height: 100%;
  text-align: center;
  padding: 0px 10px;

}
}